@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

$red: #e74c3c;
$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: $light-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .qr-card {
        background-color: $white;
        border-radius: 1rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
        padding: 2rem;
        width: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .qr-code {
            width: 10rem;
            height: 10rem;
            margin-bottom: 1rem;
        }

        .qr-text {
            color: $grayish-blue;
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        .qr-link {
            color: $dark-blue;
            font-size: 1.2rem;
            font-weight: 700;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $red;
            }
        }
    }
}
