@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

$red: #e74c3c;
$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $light-gray;

    p {
        font-size: 15px;
    }

    h1 {
        font-size: 20px;
    }

    .qr-card {
        border-radius: 24px;
        box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.25);
        width: 320px;
        padding: 16px 16px 40px 16px;
        margin-top: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .qr-code {
            img {
                width: 300px;
                height: 300px;
                border-radius: 25px;
            }
        }

        .qr-text {
            text-align: center;
        }
    }
}
